<div ng-controller="selectionCtrl">
	<div ng-repeat="business in businessesArr track by $index" class="row selection" style="z-index: {{ businessesArr.length - $index }}" >
		<div class="selection-image-container">
			<img ng-src="{{business.image_url}}" class="selection-image">
		</div>
		<div class="selection-centered">
			<img ng-src="{{business.rating_image_url}}">
		</div>
		<h2 class="selection-centered" >{{business.name}}</h2>
		<h5 >Distance: {{business.distance}}</h5>
		<h5 >Categories: {{business.categories.join(', ')}}</h5>
		
		<div class="yes-no-container">
			<button type="button" class="yes-no-button no" ng-click="remove($index)" >X</button>
			<button type="button" class="yes-no-button yes" ng-click="addBusiness($index)" >√</button>
		</div>
	</div>
	<div class="row selection" style="z-index: 0" >
		<div class="selection-image-container">
			<img src="/images/sad-face.jpg" class="selection-image">
		</div>
		<h3 class="selection-centered" >You've ran out of suggestions.</a></h3>
		<div class="yes-no-container">
			<button type="button" class="yes-no-button results" ng-click="results()" >results</button>
		</div>
	</div>
</div>


